{% extends 'base.html' %}
{% load static %}
{% block title %}
  welcome to Codeprof Academy
{% endblock %}

{% block content %}
  <section class="main">
    <form method="post" action="{% url 'home' %}" enctype="multipart/form-data" class="regForm">
      {% csrf_token %}
      <h3>create account</h3>
      <div class="upload">
        <img src="{% static 'images/arrow.png' %}" alt="" width="120" class="pop_upload" />
        <p>
          upload<br />profile image
        </p>
      </div>
      <div class="upload_card">
        <img src="{% static 'images/avatar.png' %}" alt="" width="100" height="100" class="profile-img" accept="image/*" />
        <label for="file" class="upload-btn">Upload</label>
        <input type="file" id="file" hidden name="image" />
      </div>
      <div class="input-group">
        <span class="error" id="username_error"></span>
        <input type="text" placeholder="Username" name="username" id="username" />
      </div>
      <div class="input-group">
        <span class="error" id="email_error"></span>
        <input type="text" placeholder="Email" name="email" id="email" />
      </div>
      <div class="input-group">
        <span class="error" id="password_error"></span>
        <input type="password" placeholder="Password" name="password" id="password" />
      </div>
      <div class="input-group">
        <span class="error" id="confirm_password_error"></span>
        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" />
      </div>
      <button type="submit">Create</button>
      <p>
        Already a member ? <a href="{% url 'login' %}">Login</a>
      </p>
    </form>
  </section>
  <section class="proceed">
    <img src="{% static 'images/times.png' %}" alt="" class="close_proceed"/>
    <div class="proceed_card">
      <img src="{% static 'images/success.png' %}" alt="" width="0" class="success_img" />
      <a href="{% url 'login' %}" class="proceed_login">Login Now</a>
    </div>
  </section>
{% endblock %}
